* {
  box-sizing: border-box;
  font-family: poppins;
  /* outline: 0.25px solid black; */
  user-select: none;
}

body {
  background: rgb(255, 177, 252);
  background: linear-gradient(
    45deg,
    rgba(255, 177, 252, 1) 0%,
    rgba(204, 65, 255, 1) 100%
  );

  height: 100vh; /* Full viewport height */
  min-width: 370px;
}

.bg {
  display: flex;
  justify-content: center;
}

.calcArea {
  background-color: white;
  margin-top: 60px;
  width: 300px;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 22px;
}

.heroText {
  padding: 30px 0px;
  font-size: 12px;
  display: flex;
  gap: 10px;
}
img {
  width: 20px;
}
.display {
  width: 80%;
  height: 100px;
  border-radius: 15px;
  align-content: center;
  text-align: right;
  padding: 15px;
  font-size: 25px;
  font-weight: 700;
  color: #6d6d6f;
  background-color: #f9fafc;
}

.inputs {
  display: flex;
  width: 80%;
  padding-top: 50px;
  gap: 5px;
}

.leftArea {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.leftArea div {
  background-color: #edf0f5;
  margin: 0px 10px 0px 0px;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  align-content: center;
  text-align: center;
  cursor: pointer;
}
#delete {
  color: #cf3b8f;
  background-color: #ffcfea;
  font-size: 13px;
}

.rightArea {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #edf0f5;
  border-radius: 12px;
}

.rightArea div {
  align-content: center;
  text-align: center;
  /* width: 50px; */
  height: 50px;
  cursor: pointer;
}

.equalTo {
  background-color: #89d9ff;
  border-radius: 10px;
}